.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  height: 100%;
  width: 100%;
  perspective: 1300px;
  z-index: 9999999;
}

.backdrop {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.scroll--hide {
  overflow: hidden !important;
}
